table  {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #aabcfe;
  margin: 0px auto;
  text-align: center;
}
table th {
  color: #039;
  background-color: #b9c9fe;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  word-break: normal;
}
table td {
  color: #669;
  background-color: #e8edff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  word-break: normal;
}

.icon_race_human::after {
  content: url("img/icon/race/human.png");
}